<section class="row row-2" ng-repeat="grp in grp.childGroups" ng-if="grp.isVisible">
    <div class="row" trial-accordion>
        <div class="col-xs-4 group" ng-style="{'padding-left':padLeft + 10}" ng-bind-html="grp.groupName | uppercase : (grp.childGroups.length && grp.accounts.length) | highlight: keyWord.query"></div>
        <div class="col-xs-2 group text-right">{{ grp.forwardedBalance.amount | number:2 }} {{ grp.forwardedBalance.type | recType: grp.forwardedBalance.amount}}</div>
        <div class="col-xs-2 group text-right">{{ grp.debitTotal | number:2 }}</div>
        <div class="col-xs-2 group text-right">{{ grp.creditTotal | number:2 }}</div>
        <div class="col-xs-2 group text-right">{{ grp.closingBalance.amount | number:2 }} {{ grp.closingBalance.type | recType: grp.closingBalance.amount }}</div>
    </div>
    <section class="row account isHidden" ng-if="grp.accounts.length && account.isVisible" ng-repeat="account in grp.accounts | orderBy: 'name'">
        <div class="row">
            <div class="col-xs-4" ng-style="{'padding-left':padLeft + 20}" ng-bind-html=" account.name | lowercase | highlight: keyWord.query">
            </div>
            <div class="col-xs-2 account text-right">{{ account.openingBalance.amount | number:2 }} {{account.openingBalance.type | recType:account.openingBalance.amount
                }}</div>
            <div class="col-xs-2 account text-right">{{ account.debitTotal | number:2 }}</div>
            <div class="col-xs-2 account text-right">{{ account.creditTotal | number:2 }}</div>
            <div class="col-xs-2 account text-right">{{ account.closingBalance.amount | number:2 }} {{account.closingBalance.type | recType:account.closingBalance.amount
                }}</div>
        </div>
    </section>
    <section class="subGroups isHidden" ng-if="grp.childGroups.length" ng-style="{'padding-left':padLeft + 10}">
        <div ng-include="'public/webapp/Tbpl/trialBalSubGroup.html'"></div>
    </section>
</section>