
@import url('../css/fjala.css');
/*font-family: 'Fjalla One', sans-serif;*/

body {
  -webkit-overflow-scrolling: touch;
}

body.login {
  background: url('../images/new/login_bg.jpg') no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/*typography styles*/
.arvo, .head3{
	font-weight: 400;
}
.arvo-b{
	font-weight: 700;
}
.inconsolata, body, input, textarea, button, select{
	font-family: 'Inconsolata', Arial, serif;
	font-weight: 400;
}
.inconsolata-b{
	font-family: 'Inconsolata', Arial, serif;
	font-weight: 700;
}
.pClr{
	color: #EB2508;
}
.sClr{
	color: #FFF6E7;
}
.bigger-text{
	font-size: 4em;
	letter-spacing: 3px;
	line-height: 80px;
}
.head3{
	font-size: 28px;
	letter-spacing: 2px;
	line-height: 60px;
}
.fs18{font-size: 18px}
.fs20{font-size: 20px}
.fs24{font-size: 24px}
/*common margins*/
.mrB0{margin-bottom: 0px !important;}
.mrB5{margin-bottom: 50px}
.mrT4{margin-top: 40px}
.mrT5{margin-top: 50px}
.mrT6{margin-top: 60px}
.mrT10{margin-top:10px;}
.mrtb10{
  margin:10px 0;
}
/*universal styles*/

.db {
    display: block
}

.pdLR0{
    padding-left:0;
    padding-right:0;
}
.pdL25{
    padding-left: 25px
}
.pdR25{
    padding-right: 25px
}
.pdL-5{
    padding-left: 5px
}
.pdR-5{
    padding-right: 5px
}
.pd {
    padding: 5px
}

.pd1 {
    padding: 10px
}

.pd15 {
    padding: 15px
}

.pd2 {
    padding: 20px
}

.pd3 {
    padding: 30px
}

.pd4 {
    padding: 40px
}

.pdT {
    padding-top: 5px
}

.pdB {
    padding-bottom: 5px
}

.pdL {
    padding-left: 5px
}

.pdR {
    padding-right: 5px
}

.pdT1 {
    padding-top: 10px
}

.pdT2, .pdT3 {
    padding-top: 20px
}

.pdB1 {
    padding-bottom: 10px
}

.pdL1 {
    padding-left: 10px
}

.pdR1 {
    padding-right: 10px
}

.pdB2 {
    padding-bottom: 20px
}

.pdL2 {
    padding-left: 20px
}

.pdR2 {
    padding-right: 20px
}

.pdB3 {
    padding-bottom: 30px
}

.pdL3 {
    padding-left: 30px
}

.pdR3 {
    padding-right: 30px
}

.pdT4 {
    padding-top: 30px
}

.pdT5 {
    padding-top: 30px
}

.pdB4 {
    padding-bottom: 40px
}

.pdL4 {
    padding-left: 40px
}

.pdR4 {
    padding-right: 40px
}

.pd0{
    padding:0;
}

.mr {
    margin: 5px
}

.mr1 {
    margin: 10px
}

.mr15 {
    margin: 15px
}

.mr2 {
    margin: 20px
}

.mr3 {
    margin: 30px
}

.mr4 {
    margin: 40px
}

.mrT {
    margin-top: 5px
}

.mrB {
    margin-bottom: 5px
}

.mrL {
    margin-left: 5px
}

.mrR {
    margin-right: 5px
}

.mrT1 {
    margin-top: 10px
}

.mrB1 {
    margin-bottom: 10px
}

.mrL1 {
    margin-left: 10px
}

.mrR1 {
    margin-right: 10px
}

.mrT2 {
    margin-top: 20px
}

.mrB2 {
    margin-bottom: 20px
}

.mrL2 {
    margin-left: 20px
}

.mrR2 {
    margin-right: 20px
}

.mrT3 {
    margin-top: 30px
}

.mrB3 {
    margin-bottom: 30px
}

.mrL3 {
    margin-left: 30px
}

.mrR3 {
    margin-right: 30px
}

.mrT2 {
    margin-top: 20px
}

.mrT4 {
    margin-top: 40px
}

.mrT5 {
    margin-top: 50px
}

.mrB4 {
    margin-bottom: 40px
}

.mrL4 {
    margin-left: 40px
}

.mrR4 {
    margin-right: 40px
}

.bdr {
    border: 1px solid #ddd
}

.bdrN {
    border: none
}

.bdrT {
    border-top: 1px solid #ddd
}

.bdrB {
    border-bottom: 1px solid #ddd
}

.bdrL {
    border-left: 1px solid #ddd
}

.bdrR {
    border-right: 1px solid #ddd
}

.pa {
    position: absolute
}

.pr {
    position: relative !important
}
.pr h1, .pr label {
    display: inline;
    font-size: 30px;
    color: white;
    font-weight: normal;
    font-family: Helvetica;
}
.black-back{
    background: rgba(0,0,0,0.7);
    font-family: Helvetica !important;
}

.pf {
    position: fixed
}

.witClr {
    color: #fff
}

.gryClr {
    color: #777
}

.greyBg {
    background: #f5f5f5;
    /*min-width:320px;*/
}

.witBg {
    background: #fff
}

.transBg {
    background: 0 0
}
.font-black{
    color: black !important;
}
.oh {
    overflow: hidden
}

.oyAuto {
    overflow-y: auto
}

.oxAuto {
    overflow-x: auto
}

.rn {
    resize: none
}

.ln {
    list-style: none
}

.txtUpc {
    text-transform: uppercase
}

.txtLwc {
    text-transform: lowercase
}

.txtCpc {
    text-transform: capitalize
}

.tdUndr {
    text-decoration: underline
}

.alR {
    text-align: right
}

.alL {
    text-align: left
}

.alC {
    text-align: center
}

.ellp {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.cp {
    cursor: pointer
}

.pdBth1510 {
    padding: 15px 10px
}

.thead {
    font-size: 16px
}

.scrClass {
    overflow: hidden;
    position: relative;
}

.oyHid {
    overflow-y: hidden
}

.oxHid {
    overflow-x: hidden
}

.pad0{
    padding:0 !important;
}



/*********** login Page *********/

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex, .h100 {
    height: 100%;
}
.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.3333333;
}
.btn {
  cursor: pointer;
}
.btn:focus {
  outline: 0;
}
.login .modal-header h3 {
  color: #000;
  font-size: 1.3rem;
}
.login {
  padding-top: 0;
}
.login .form-control {
  border-radius: 0;
}

/*login page start*/
.intro.login{
  background: url('../images/new/login_bg.jpg') no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.login .brand-heading {
  color: white;
  font-size: 40px;
  margin-bottom: 80px;
}

#box{
  background-color: #fff;
  padding: 20px 30px;
  margin: 0 auto;
  width: 360px;
  height: auto;
}

#boxDropdown{
  background-color: #fff;
  padding: 20px 30px;
  margin: 0 auto;
  width: 360px;
  height: auto;
  position: absolute;
  right:0;
  min-height:280px;
  -webkit-box-shadow:0px 0px 5px 0px rgb(78, 78, 78);
  -moz-box-shadow:0px 0px 5px 0px rgb(78, 78, 78);
  box-shadow: 0px 0px 5px 0px rgb(78, 78, 78);
}

#boxDropdown button {
  text-transform: uppercase;
}

.login-btn{
  position: relative;
}

/*.login-btn:hover #boxDropdown{
  display: block;
  right:0;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}*/

#boxDropdown img {
  max-height:30px;
  position: absolute;
  left:10px;
  top:6px;
}

#boxDropdown .glyphicon{
  max-height:30px;
  position: absolute;
  left:15px;
  top:13px;
}

#boxDropdown .btn:hover, #box .btn:hover{
  color:#fff;
}

.mrB1{margin-bottom: 10px}
.giddh-logo{
  background: #221F1F none repeat scroll 0 0;
  border: 7px solid #C63B13;
  border-radius: 50%;
  box-shadow: 0 10px 0 14px #fff inset;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin:0 auto 20px;
}

.twitter{
  background: #11B1E5;
}

.google{
  background:#DE4D3C;
}

.linkedin{
  background: #0E78AA;
}

.mobile{
  background: #26263A;
}

.btn-login {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.btn-login:hover, .btn-login:focus, .btn-login:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*giddh loader*/
.giddh-spinner{
    animation: rotate 1.5s infinite linear;
    background: #221F1F none repeat scroll 0 0;
    border: 7px solid #C63B13;
    border-radius: 50%;
    box-shadow: 0 -10px 0 14px #fff inset;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    margin:0 auto 20px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login .brand-heading {
  color: white;
  font-size: 40px;
  margin-bottom: 80px;
}
.intro .lead {
  text-align: center;
  font-size: 18px;
}
/*end login page*/